.EightBall {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: relative;
}

.EightBall-question{
    color: white;
    text-align: center;
    text-justify: auto;
    font-size: 30px;
    position: absolute;
    top: 25%;

}

